.Chat{
    display: flex;
    background-color: #F0F0F0;
    min-width: 70vw;
    height : 100vh;
    justify-content:space-between;
    flex-direction: column;
}
.chatWindow{
    overflow-y: scroll;
    justify-content: center;

}
.chatItem{
    word-wrap: break-word;
    position: relative;
    float: left;
    color: #343C4B;
    padding: 10px;
    margin: 10px 30px;
    border-color: darkgray;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    text-align: left;
    width: 80%;
}
.myMsg{
    word-wrap: break-word;
    float: right;
    text-align: left;
    background-color: #DBE6FA;
}
.dateName span{
    font-size: 12;
    font-weight: bold;
    margin: 0 15px;
}
.dateName p{
    margin: 0 15px;
}

.dateName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.date {
    position: absolute, right;
    text-align: right;
}
.msgBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#FAFAFA;
    width: 100%;
    height: 70px;
}
.msgInput{
    padding-left: 50px;
    text-align: left;
    border: none;
    font-size: 14px !important;
    color : #343C4B;
    background-color: #FAFAFA;
    width: 100%;
    height: 60px;
}
.msgInput:focus{
    box-shadow: 0 0 1px 1px #4d90f0;
    outline: none;
}
.msgInput::placeholder{
    color:#817e7e;
}
.msgButton{
    margin: 0 20px;
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
@media screen and (max-width:420px){
    .Chat{
        width: 100%;
        height: 90vh;
    }
    .chatItem{
        height: auto;
    }
    .message{
        font-size: 14px;
    }
}



    

