.Users{
    overflow-x: auto;
    color: #E1EBFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:  #343C4B;
    height: 100vh;
    min-height:50px;
    width: 30vw;
}
.MenuButton{
    display: none;
}

.userTopBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
}

h1{
    text-align: center;
    border-bottom: 1px #9D9D9D solid;
}
.userList{
    padding-left: 50px;
    width: 100%;
    text-align: left;
}

@media screen and (max-width:450px){
    .Users{
      transition: height 0.5s;
      display: block;
      height:73px;
      width: 100%;
      align-items: left;

    }
    .Active{
        top: 0;
        left: 0;
        position: absolute;
        z-index: 10;
        height: 100vh;
        }
    .MenuButton{
        display: block;

    }
    .userList{
        display: none;
    }
    .Show{
        display: block;
    }
    h1{
        width: 150px;
        border-bottom: 0px #9D9D9D solid;;
        float: left;
        font-size: 24px;
    }
  }
